<nav>
    <div>
        <a href="/">
            <h1> <span><img src="mawimbi-logo-revised-4.png" width="150px" height="60px" alt="" /></span></h1>
        </a>
        <p>Mawimbi Reservation Form</p>
    </div>
    <ul>
        <li><a href="/">Home</a> </li>
        <li><a href="/about">About</a> </li>
        <li><a href="/create">Make Reservation</a> </li>

    </ul>
</nav>