<%- include("./partials/head.ejs") %>
<%- include("./partials/nav.ejs") %>

<div class="reservation-content">
    <h2>OOPS!! Page not found!</h2>

</div>
<%- include("./partials/footer.ejs") %>
</body>


</html>