@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Mingzat&family=Roboto:ital@1&family=Splash&display=swap");

body {

    max-width: 1200px;
    padding: 0 20px;
    margin: 20px auto;
    font-family: "noto-serif", serif;
    background-image: url(b.jpg);
}

p,
h1,
h2,
h3,
a,
ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #ffffff;
}

.reservation-content {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    margin: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

nav li {
    list-style-type: none;
    margin-left: 20px;
}

nav h1 {
    font-size: 2em;
}

nav p,
nav a {
    color: #ffffff;
    font-weight: 300;
}

footer {
    color: #777;
    text-align: center;
    margin: 80px auto 20px;
}

h2 {
    margin-bottom: 20px;
}

h3 {
    text-transform: capitalize;
    margin-bottom: 8px;
}

.content {
    margin-left: 20px;
}


/*form css*/
* {
    padding: 0;
    margin: 0;
}



.form {
    background-color: rgba(0, 0, 0, 0.9);
    color: aliceblue;
    margin-left: 180px;
    justify-content: center;
    align-items: center;
    margin-top: 38px;

    width: 800px;

}

.form p {
    text-align: center;
    padding-top: 10px;
}

.form-text {
    text-align: center;
    margin: 40px 0;
    font-size: 20px;
}

.main-form div {
    margin: 10px 20px;
    width: 300px;
    display: inline-block;
    color: aliceblue;
}

.main-form select {
    margin: 10px 20px;
    width: 300px;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #c9ab81;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.9);
}

.main-form div input {
    width: 300px;
    outline: none;
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid #c9ab81;
    color: aliceblue;
    padding: 10px;
    border-radius: 5px;
}

.main-form div input span {
    width: 300px;
    outline: none;
    padding: 10px;
    color: aliceblue;
}

textarea {
    background: none;
    border: 1px solid #c9ab81;
    border-radius: 5px;
    color: aliceblue;
    width: 700px;
    padding: 10px;
}

#submit {
    width: 95%;
    align-content: center;
    border-radius: 5px;
}

#terms {
    width: 100%;
}

#terms p {
    color: white;
}